/*           Main css !!!!!!!!!!!! */
.main-header{
    background-color: #ff8800;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 1;
}
main{
    margin-top: 100px;
}
.card {
    position: relative;
    max-width: 600px;
}

.card iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    overflow: hidden; /* Removes scrollbar */
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('fake.jpg'); /* toswira mahiyech mawjoud zeyid wojoudha awki 8ad ou khaw */
    opacity: 0;
}