body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    position: relative; /* Position relative to use absolute positioning inside */
    min-height: 100vh; /* Ensure the container takes up at least the full viewport height */
    box-sizing: border-box; /* Include padding in width calculation */
}

.header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; /* Ensure the header stays on top of other elements */
}

#postsContainer {
    margin-top: 50px; /* Adjust margin to account for fixed header */
    padding-bottom: 100px; /* Ensure space for the inputs at the bottom */
}

form {
    background-color: #0099ffbb;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

form input, form textarea, form button {
    width: calc(100% - 20px); /* Adjust for padding */
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

/* Adjust styling for button */
form button {
    display: block;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
