body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
}

.header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#postsContainer {
    margin-top: 50px;
    padding-bottom: 40px;
}

.message-form {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.message-form input {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.desktop-text {
    display: block;
}

.mobile-icon {
    display: none;
}

/* For phones */
@media only screen and (max-width: 600px) {
    .message-form input {
        width: calc(100% - 200px);
        margin-right: 10px;
    }

    .message-form button {
        width: 10px;
    }

    .desktop-text {
        display: none;
    }

    .mobile-icon {
        display: flex;
    }
}

/* For desktops */
@media only screen and (min-width: 601px) {
    .mobile-icon {
        display: none;
    }

    /* Add this style to align icon and text vertically */
    #sendButton i {
        margin-right: 5px;
    }
}

/* Scroll button styles */
.scroll-button {
    position: fixed;
    bottom: 50%;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    display: none; /* Initially hidden */
}

.scroll-button i {
    font-size: 24px;
}

/* Style for user's message */
.user-message {
    background-color: #007bff;
    color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

/* Style for other people's messages */
.other-message {
    background-color: #f0f0f0;
    color: #333;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}
